$primary-color: #000;
$secondary-color: #666;
$font-stack: "Arial", sans-serif;


.gallery__container {
    min-width: 100px;
    margin-top: 20px;
    padding: 40px;
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.text-section {
    p {
        font-size: 16px;
        text-align: block;
        color: $secondary-color;
        line-height: 1.6;
        margin-bottom: 30px;
        padding: 20px;
    }
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .gallery-item {
        width: 100%;
        img {
            width: 350px;
            height: 400px;
            border-radius: 10px;
            object-fit: cover;
        }
    }
}

@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
        gap: 15px;
    }
}
