$primaryBtn : #4A4FF2;
$textColor : rgb(38, 32, 32);
$primaryBckgrnd : white ;
$hoverBtn : orange;
$primaryFont : 'Kumbh Sans', sans-serif;
$max-width: 100vw;
$container-width: 1200px;
$grid-gap: 15px;
$main-height: 2800px;
$grid-height: 2500px;
$spacing-md: 40px;
$spacing-sm: 20px;